*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
  /* background-color: red; */
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/cc73e7c7-7860-4ef4-8fc8-1baf24569d2f/web/IN-en-20260126-TRIFECTA-perspective_90d714e8-acc9-4253-ab46-ca6b349c1989_large.jpg");
    height: 100vh;
}

a{
    text-decoration: none;
}
/* header start */
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 120px;
    background-color: rgba(0,0,0,0.679);
    
}
.header img {
    width: 136px;
    background-image: url("");
   
}
.header-right{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 40px;
}

.header-right a{
    
    background-color: red;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 600;
     justify-content: center;
    align-items: center;
    

}
.header-right select{
  
    padding: 8px 20px;
    
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}
/* header end */

/* hero section start*/
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
   padding-top: 155px;
   color: white;
    background-color: rgba(0,0,0,0.599);
}
.hero form {
    margin-top: 20px;
    margin-bottom: 186px;
}
.hero h3{
    margin-top: 25px;
    margin-bottom: 30px;
    font-weight: 400;
}
.hero h1 {
    font-weight: 800;
    font-size: 50px;
}
form input {
    height: 50px;
    width: 350px;
    padding-left: 15px;
    border-radius: 5px;
    color: white;
     background-color: rgba(0,0,0,0.599);

}
form button {
     height: 50px;
    width: 250px;
    background-color: red;
    color: white;
    font-size: large;
    font-weight: 700;
    border-radius: 5px;
}